{% extends 'JessicaPortfolioWebBundle:PortfolioProfile:profile.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            {{ statement.contents | raw }}
        </div>
    </div>
</div>
{% endblock %}