{% extends 'JessicaPortfolioWebBundle:Default:index.html.twig' %}

{% block body %}
    <div class="container-fuild">
        <div class="row">
            <div class="col-xs-12">
                <h1>Logged In</h1>
            </div>
        </div>
    </div>
{% endblock %}